In [1]:
import csv
import os
import pandas as pd

In [7]:
csvpath = os.path.join('..', 'Resources', 'election_data.csv')

In [9]:
election_data=pd.read_csv('Resources/election_data.csv')
election_data

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [13]:
total_votes= len(election_data)
print(f'Total votes= {total_votes:,}')

Total votes= 369,711

In [51]:
vote_count_df= election_data.groupby(election_data['Candidate']).count()
vote_count_df= vote_count_df[['Ballot ID']]
vote_count_df=vote_count_df.sort_values(by=['Ballot ID'], ascending=False)
vote_count_df.reset_index(inplace=True,)

vote_count_df

                 Candidate  Ballot ID
0            Diana DeGette     272892
1  Charles Casper Stockham      85213
2     Raymon Anthony Doane      11606

In [58]:
for _,row in vote_count_df.iterrows():
    Candidate= row['Candidate']
    percentage= row['Ballot ID']/vote_count_df['Ballot ID'].sum()
    votes= row['Ballot ID']
    print(f'{Candidate} = {percentage:.0%} ({votes:,})')

Diana DeGette = 74% (272,892)
Charles Casper Stockham = 23% (85,213)
Raymon Anthony Doane = 3% (11,606)

In [55]:
winner= vote_count_df.iloc[0]['Candidate']
print ('winner:', winner )

winner: Diana DeGette

In [65]:
#Writting the results into a txt file

filepath = os.path.join('.', 'Resources', 'Pypoll_Results.txt')
with open(filepath, "w+") as text_file:
    print('Elections Results\n', file=text_file)
    print('-----------------\n', file=text_file)
    print(f'Total votes= {total_votes:,}', file=text_file)

#Creating a list to hold the results
results=[]    
for _,row in vote_count_df.iterrows():
    Candidate= row['Candidate']
    percentage= row['Ballot ID']/vote_count_df['Ballot ID'].sum()
    votes= row['Ballot ID']
       
    with open(filepath, "w") as text_file:
        print(vote_count_df, file=text_file)
        
        print('winner:', winner, file=text_file)