In [65]:
import pandas as pd
import csv
import os

In [4]:
#Loading the data into a dataframe
budget_data_path= "Resources/budget_data.csv"
budget_df=pd.read_csv(budget_data_path)
budget_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [8]:
#The total number of months included in the dataset
months= len(budget_df.Date)
print ('Total number of months=', months)

Total number of months= 86

In [17]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [66]:
#The net total amount of "Profit/Losses" over the entire period
profits=[]
losses=[]
for _, row in budget_df.iterrows():
    value = row['Profit/Losses']
    if value<0:
        losses.append(value)
    else:
        profits.append(value)
        
total_profit= sum(profits)
total_losses= sum(losses)
print (f'Total profits= {total_profit:,}')
print(f'Total losses= {total_losses:,}')
Total = total_profit+ total_losses

Total profits= 37,343,515
Total losses= -14,779,317

In [67]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes
changes=[]
for i in range (2, (len(budget_df))):
                change= (budget_df.iloc[i]['Profit/Losses'])-(budget_df.iloc[(i-1)]['Profit/Losses'])
                changes.append(change)

Total_changes= sum(changes)
average_change= Total_changes/(months-1)

print (f'Total changes in Profits/losses=', Total_changes)
print (f'Averange of Profits/Losses changes ={Total_changes/(months-1)}')

Total changes in Profits/losses= 737073
Averange of Profits/Losses changes =8671.447058823529

In [64]:
#The greatest increase in profits (date and amount) over the entire period
Greatest_increase= max(profits)
GI_date=budget_df.loc[budget_df['Profit/Losses']== (Greatest_increase), 'Date'].iloc[0]
print (f'Greatest increase in profits date: {GI_date} Amount:{max(profits):,}')
#print (f'Greatest increase in profits {Greatest_change:,}')

#The greatest decrease in profits (date and amount) over the entire period
Greatest_decrease= max(losses)
Gd_date=budget_df.loc[budget_df['Profit/Losses']== (Greatest_decrease), 'Date'].iloc[0]
print (f'Greatest increase in profits date: {Gd_date} Amount:{min(losses):,}')

Greatest increase in profits date: Mar-13 Amount:1,141,840
Greatest increase in profits date: Nov-16 Amount:-1,194,133

In [68]:
#writting results into a txt file
#define the file path
filepath = os.path.join('.', 'Resources', 'PyBank_Results.txt')
with open(filepath, "w+") as text_file:
    print('Financial Analysis\n', file=text_file)
    print('-----------------\n', file=text_file)
    print(f'Total Months: {months}', file=text_file)
    print(f'Total: ${Total}', file=text_file)
    print(f'Average Change: ${average_change}', file=text_file)
    print(f'Greatest Increase in Profits: {GI_date} Amount:{max(profits):,}', file=text_file)
    print(f'Greatest Decrease in Profits: {Gd_date} Amount:{min(losses):,}', file=text_file)